MikesApp/Service References/SVC.User/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="User" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65484/User.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65484/User.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65484/User.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MikesService.Objects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUser_GetEmployeeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeInfo" />
  </wsdl:message>
  <wsdl:message name="IUser_GetEmployeeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_SaveEmployeeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeInfo" />
  </wsdl:message>
  <wsdl:message name="IUser_SaveEmployeeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="GetEmployeeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetEmployeeInfo" message="tns:IUser_GetEmployeeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetEmployeeInfoResponse" message="tns:IUser_GetEmployeeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployeeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/SaveEmployeeInfo" message="tns:IUser_SaveEmployeeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/SaveEmployeeInfoResponse" message="tns:IUser_SaveEmployeeInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUser" type="tns:IUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeInfo">
      <soap:operation soapAction="http://tempuri.org/IUser/GetEmployeeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployeeInfo">
      <soap:operation soapAction="http://tempuri.org/IUser/SaveEmployeeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="BasicHttpBinding_IUser" binding="tns:BasicHttpBinding_IUser">
      <soap:address location="http://localhost:65484/User.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>